In [156]:
from thefuzz import fuzz , process  
import pandas as pd 
import numpy as np

In [185]:
df_train = pd.read_csv("C:/Users/yamro/OneDrive/desktop/limudim/ds_app/HW6/data/ebay_women_shoes_train.csv")
df_test = pd.read_csv("C:/Users/yamro/OneDrive/desktop/limudim/ds_app/HW6/data/ebay_women_shoes_test.csv")
brand_names = df_train["brand"].unique().tolist()
country_lst = pd.read_csv("C:/Users/yamro/OneDrive/desktop/limudim/ds_app/HW6/data/country_lst.csv")
country_lst = country_lst.rename(columns={"Afghanistan": "country"})
country_lst = country_lst["country"].unique().tolist()
country_lst.append("Afghanistan")

['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'DR Congo', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Réunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'San Marino', 'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'The Bahamas', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'Afghanistan']

In [186]:
def get_country(location):
        return process.extractOne(location, country_lst)[0]

In [187]:
location_col_is_na = df_train["location"].isna()

new_country_lst = []
for i in range(14000):
    if location_col_is_na[i]:
        new_country_lst.append("unknown")
    else:
        new_country_lst.append(get_country(df_train.loc[i, "location"]))
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900

In [160]:
def get_new_brand1(title):
    #print(process.extractOne(title, brand_names))
    temp =  process.extractOne(title, brand_names, score_cutoff= 90)
    if temp is None:
        return "Unbranded"
    else:
        return temp[0]

In [ ]:
brand_col_is_na = df_train["brand"].isna()
new_brand_lst1 = []
for i in range(14000):
    if brand_col_is_na[i]:
        new_brand_lst1.append(get_new_brand1(df_train.loc[i, "title"]))
    else:
        new_brand_lst1.append(df_train.loc[i, "brand"])
    if i % 100 == 0:
        print(i)

In [190]:
df_train["new_brand"] = new_brand_lst1
df_train["new_country"] = new_country_lst
df_train.to_csv("C:/Users/yamro/OneDrive/desktop/limudim/ds_app/HW6/data/df_train1.csv")

In [164]:
brand_col_is_na_test = df_test["brand"].isna()
new_brand_lst_test1 = []
for i in range(1044):
    if brand_col_is_na_test[i]:
        new_brand_lst_test1.append(get_new_brand1(df_test.loc[i, "title"]))
    else:
        new_brand_lst_test1.append(df_test.loc[i, "brand"])
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000

In [188]:
location_col_is_na = df_test["location"].isna()

new_country_lst_test = []
for i in range(1044):
    if location_col_is_na[i]:
        new_country_lst_test.append("unknown")
    else:
        new_country_lst_test.append(get_country(df_test.loc[i, "location"]))
    if i % 100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000

In [189]:
df_test["new_brand"] = new_brand_lst_test1
df_test["new_country"] = new_country_lst_test

df_test.to_csv("C:/Users/yamro/OneDrive/desktop/limudim/ds_app/HW6/data/df_test1.csv")